.top-nav {
   // Hamburger is inactive
    .hamburger-mobile__enabled {
        // visibility: hidden;
        display: none;
    }
  // When hamburger button is toggled/active
  /* Rotate first bar */
  .rect1, .rect2, .rect3 {
    transition: 0.4s;
  }
  .active .rect1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .active .rect2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .active .rect3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }
}