// Hamburger module
.hamburger-container {
    height: 15px;
    width: 105px;
    margin: 5% auto;
    cursor: pointer;
    .rect1 {
        height: 5px;
        width: 35px;
        margin: 5px auto;
        border-radius: 5px;
    }
    .rect2 {
        height: 5px;
        width: 35px;
        margin: 5px auto;
        border-radius: 5px;
    }
    .rect3{
        height: 5px;
        width: 35px;
        margin: 5px auto;
        border-radius: 5px;
    }
}
// Card module
    .card-container {
        height: 55%;
        width: 80%;
        .design-1 {
            height: 20%;
        }
        .design-2 {
            height: 25%;
        }
        .me {
            height: 85%;
            width: 110%;
        }
    }