// Mobile first approach yessuh
// Viewports
$viewports: (
    phone: 599px,
    tablet_portrait: 600px,
    tablet_landscape: 900px,
    desktop_up: 1200px,
    big_desktop_up: 1800px 
);

@function getViewport($view){
    @return map-get($map: $viewports, $key: $view);
}

// Mixins
@mixin phone {
    @media (max-width: getViewport(phone)){
        @content;
    }
}
@mixin tablet-portrait {
    @media (min-width: getViewport(tablet_portrait)){
        @content;
    }
}
@mixin tablet-landscape {
    @media (min-width: getViewport(tablet_landscape)){
        @content;
    }
}
@mixin desktop-up {
    @media (min-width: getViewport(desktop_up)){
        @content;
    }
}
@mixin big-desktop-up {
    @media (min-width: getViewport(big_desktop_up)){
        @content;
    }
}

// HOMEPAGE

// Homepage background
.homepage-bg {
    clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

// Hamburger
.hamburger-container {
    height: 15px;
    width: 105px;
    margin: 5% auto;
}

// Me card
.card-container {
    padding: 0;
    margin: 10% auto;
    .img-container {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 3;
    }
    .design-1 {
        position: absolute;
        margin: 80px 20px;
        z-index: 2;
    }
    .design-2 {
        position: absolute;
        margin: 105px 50px;
        z-index: 1;
    }
    @include desktop-up() {
        background-color: aquamarine;
    }
}

// Call-to-Action buttons
.buttons-container {
    display: flex;
    padding: 45px 25px;
    .projects {
        margin: auto;
    }
    .collab {
        margin: auto;
    }
}

// ABOUT PAGE
.about-page {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

// PROJECTS PAGE
.projects-page {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

// CONTACT PAGE
.contacts-page {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}