@import './themes';

.About {
    display: flex;
    flex-flow: row;
    min-height: 100vh;
    min-width: 100%;
    background-color: red;
    margin: auto;
    @include deviceDimension(getDeviceDimension(phoneUp)){
        flex-flow: column;
    }
}