@import './themes';

.About {
    display: flex;
    flex-flow: column;
    // min-height: 100%;
    // max-height: 100;
    // min-width: 100%;
    // max-width: 100%;
    padding: 50px 0px;
    margin: 10px auto;
    overflow-x: none;
    .AboutContainer {
        max-width: 100%;
        display: flex;
        flex-flow: row-reverse;
        justify-content: space-evenly;
        padding: 50px;
        margin: auto;
        @include deviceDimension(getDeviceDimension(phone)){
            padding: 0px;
            flex-flow: column;
        } 
        .ProfilePicture {
            display: flex;
            flex-flow: column;
            margin: 10px auto;
            min-width: 50%;
            background-position: center;
            background-size: cover;
            background-image: url('../assets/gallery/Profile\ Web.png');
            @include deviceDimension(getDeviceDimension(phone)){
                min-height: 148px;
                min-width: 148px;
                max-height: 148px;
                max-width: 148px;
                border-radius: 99999px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                background-color: getColorTheme(color3);
                background-image: url('../assets/gallery/Profile\ Mobile.png');
            }
        }

        .InfoContainer {
            display: flex;
            flex-flow: column;
            margin: 5px auto;
            padding: 0 15px;
            min-width: 50%;
            .title {
                margin: 15px auto;
                font-size: xx-large;
                @include deviceDimension(getDeviceDimension(phone)){
                    font-size: large;
                }
            }
            .header {
                margin: 15px auto 5px auto;
                font-size: large;
            }
            .paragraph {
                margin: auto;
                font-size: clamp(8px, 14px, 22px);
                text-align: justify;
                word-break: keep-all;
                @include deviceDimension(getDeviceDimension(phone)){
                    font-size: small;
                }
            }
            .TechGroup {
                display: flex;
                margin: 10px auto;
                img {
                    margin: 5px 15px;
                    height: 40px;
                    width: 40px;
                    @include deviceDimension(getDeviceDimension(tabletLandscapeUp)){                        
                        margin: auto 1.5px;
                        height: 32.39px;
                        width: 32.39px;
                    }
                    @include deviceDimension(getDeviceDimension(phone)){
                        margin: auto 4px;
                        height: 32.39px;
                        width: 32.39px;
                    }
                }
            }

            .ToolGroup {
                display: flex;
                flex-flow: row wrap;
                flex: 2 1 auto;
                margin: 15px auto;
                padding: 10px;
                img {
                    margin: 25px 32px;
                    height: 40px;
                    width: 40px;
                }
                @include deviceDimension(getDeviceDimension(tabletLandscapeUp)){
                    img {
                        margin: 10px 15px;
                        height: 32.39px;
                        width: 32.39px;
                    }
                }
                @include deviceDimension(getDeviceDimension(phone)){
                    padding: 10px;
                    img {
                        margin: 10px 20px;
                        height: 32.39px;
                        width: 32.39px;
                    }
                }
            }
        }

    }
}