@import './themes';

.Home {
    display: flex;
    flex-flow: column;
    min-height: 100%;
    padding: 15px;
    .InfoContainer {
            margin: auto;
            .title {
                margin: 5px auto;
            }
            .header {
                margin: 5px auto;
            }
            .paragraph {
                margin: 5px auto;
            }
            .ButtonGroup {
                display: flex;
            }
            img {
                cursor: pointer;
                margin: auto 5px;
                height: 48px;
                width: 48px;
            }
            @include deviceDimension(getDeviceDimension(tabletLandscapeUp)){
                img {
                    height: 32.39px;
                    width: 32.39px;
                }
            }
            @include deviceDimension(getDeviceDimension(phone)){
                .paragraph {
                    font-size: 12px;
                }
                img {                    
                    height: 32.39px;
                    width: 32.39px;
                }
            }
        }
}