@import '../themes';

.title {
    font-family: getFontStyle(heading);
    color: getColorTheme(color6);
    font-size: clamp(40px, 60px, 70px);
    @include deviceDimension(getDeviceDimension(tabletLandscapeUp)){
        font-size: xx-large;
    }
    @include deviceDimension(getDeviceDimension(phone)){
        font-size: x-large;
    }
}

.header {
    font-family: getFontStyle(heading);
    color: getColorTheme(color1);
    font-size: clamp(20px, 40px, 60px);
    @include deviceDimension(getDeviceDimension(tabletLandscapeUp)){
        font-size: large;
    }
    @include deviceDimension(getDeviceDimension(phone)){
        font-size: medium;
    }
}