@import '../themes';

.paragraph {
    font-family: getFontStyle(paragraph);
    color: getColorTheme(color1);
    font-size: clamp(8px, 14px, 22px);
    @include deviceDimension(getDeviceDimension(phoneUp)){
        font-size: medium;
    }
}