@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

@import "../viewport";

$homepageBackground:(
    mobile: url('/assets/bg/mobile-portfolio-bg.png'),
    tablet-up: url('/assets/bg/tablet-up-portfolio-bg.png')
);

$colorTheme:(
    base: rgba(122, 72, 243, 1),
    accent: rgba(73, 6, 239, 1),
    default: rgb(255,255,255)
);

$fontTheme: (
    base: 'Montserrat',
    secondary: 'Hind'
);
// Getter functions
@function getFont($font){
    @return map-get($map: $fontTheme, $key: $font);
}

@function getColor($color){
    @return map-get($colorTheme,$color);
}
@function getHomepageBackground($bg){
    @return map-get($map: $homepageBackground, $key: $bg);
}

// HOMEPAGE
.homepage-container {
    @include phone {
        background-image: getHomepageBackground(mobile);
    }
    @include tablet-portrait {
        background-image: getHomepageBackground(tablet-up);
    }
    // Hamburger config
    .top-nav {
        .hamburger-mobile-nav {
            .rect1 {
                background: getColor(default);
            }
            .rect2{
                background: getColor(default);
            }
            .rect3{
                background: getColor(default);
            }
        }
        .hamburger-mobile__enabled {
            ul {
                li {
                    a {
                        text-decoration: none;
                        font-family: getFont(base);
                        color: getColor(default);
                        filter: drop-shadow(0 0 0.50rem black);
                    }
                }
            }
        }
    }
    // Card image config
    .card-container {
        background-color: getColor(default);
        filter: drop-shadow(0 4px 0.30rem rgba(0,0,0,0.5));
        .image-container {
            background-image: url(/assets/me/image-card.png);
        }
    }
    // short about me content
    .desc-container{
        .fname{
            font-family: getFont(base);
            font-size: 1.8em;
        }
        .lname {
            font-family: getFont(base);
            color: getColor(accent);
            font-size:2em;
        }
        .desc {
            font-family: getFont(secondary);       
            font-size: 1.5em;
        }
    }
    // button actions
    .button-container {
        .projects-btn{
            background: rgba($color: #000000, $alpha: 0);            
            color: black;
            border-color: black;
            font-size: clamp(min(1.1em),1em,max(3em));
            font-family: getFont(base);
            &:hover {
                transition: ease 1s;
                filter: drop-shadow(0 0 0.50rem black);
            }
        }
        .collab-btn {
            border-color: black;
            font-size: clamp(min(1.1em),1em,max(2em));
            background: getColor(accent);            
            color: getColor(default);
            font-family: getFont(base);
            &:hover {
                transition: ease 1s;
                filter: drop-shadow(0 0 0.50rem black);
            }
        }
    }
    // next page button yessirr
    .next-page {
        button{
        background-color: getColor(accent);
        border: none;
        clip-path: polygon(100% 0, 0 0, 50% 100%);
        }
        &:hover {
            transition: ease 0.5s;
            filter: drop-shadow(0 0 0.50rem black);
        }
    }
}

// ABOUT
.about-page {
    background-color: getColor(base);
    
}

// PROJECTS
.projects-page {
    background-color: getColor(accent);
}

// CONTACTS
.contacts-page {
    background-color: getColor(base);
}

// FOOTER
footer {
    background-color: getColor(accent);
}