@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

@import "../viewport";

$homepageBackground:(
    mobile: url('/assets/bg/mobile-portfolio-bg.png'),
    tablet-up: url('/assets/bg/tablet-up-portfolio-bg.png')
);

$colorTheme:(
    base: rgba(122, 72, 243, 1),
    accent: rgba(73, 6, 239, 1),
    default: rgb(255,255,255)
);

$fontTheme: (
    base: 'Montserrat',
    secondary: 'Hind'
);
// Getter functions
@function getFont($font){
    @return map-get($map: $fontTheme, $key: $font);
}

@function getColor($color){
    @return map-get($colorTheme,$color);
}
@function getHomepageBackground($bg){
    @return map-get($map: $homepageBackground, $key: $bg);
}
// ABOUT PAGE
.about-page {
    background-color: getColor(base);
}

// PROJECTS
.projects-page {
    background-color: getColor(accent);
}

// CONTACTS
.contacts-page {
    background-color: getColor(base);
}

// FOOTER
footer {
    background-color: getColor(accent);
}